{% extends 'blank.html' %}

{% block content %}

{{goal.goal_title}} </br>
{{goal.goal_description}} </br>
{{goal.created_at}} </br>

{% for c in comments %}
{{c.user.user_name}}</br>
{{c.content}}</br>
</br>
{% endfor %}

<h3>Total followers : {{total_followers}}</br></h3>
{% if isFollow %}
<a href="{% url 'unfollow_goal' goal.id %}"><button>UnFollow</button></a>
{% else %}
<a href="{% url 'follow_goal' goal.id %}"><button>Follow</button></a>
{% endif %}
<a href="{% url 'commentgoal' goal.id %}">Comment</a>

<h2>Projects</h2>
{% for project in projects %}
<a href="{% url 'project_detail' project.id %}">{{project.project_title}}</a>
{% endfor %}


{% endblock %}